body{
    margin: 0;

}
/* header */
header {
    background-color: #ffffff;
    display: flex;
}
header nav {
    margin: auto;
    margin-right: 1em;
    display: flex
}
.logo {
    width: 8em;
    height: 8em;
}

/* nav */
header nav li:nth-of-type(1){
    background-image: url(../Fotos/home.png);
    background-size: 4rem;
    background-repeat: no-repeat;
    width: 4rem;
    height: 4rem;
    list-style: none;
}
header nav li:nth-of-type(2) {
    background-image: url(../Fotos/profielblauw.png);
    background-size: 4rem;
    background-repeat: no-repeat;
    width: 4rem;
    height: 4rem;
    list-style: none;
}

header nav li:nth-of-type(3) {
    background-image: url(../Fotos/favo.png);
    background-size: 4rem;
    background-repeat: no-repeat;
    width: 4rem;
    height: 4rem;
    list-style: none;
}

header nav li:nth-of-type(4) {
    background-image: url(../Fotos/zoekengroen.png);
    background-size: 4rem;
    background-repeat: no-repeat;
    width: 4rem;
    height: 4rem;
    list-style: none;
}
/* nav */
nav ul{
    display: flex;
    transition: 2s;
}
nav ul.active{
    display: flex;
    margin-right: 10em;
    transition: 2s;
}
nav a {
    display: block;
    width: 100%;
    height: 100%;
}

main{
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 0em)and (max-width: 40em){
main{
    background-image: url(../Fotos/staandeiphone.png);
}
    section{
       width: 79%;
    margin-left: 13%;
    height: 25em;
}
     header nav{
            margin-left: -4em;
    }
}
    p{
    height: 20em;
    }

@media screen and (min-width: 40em){
main{
    background-image: url(../Fotos/irritatie-achtergrond.jpg);

}
     section{
    width: 55%;
    margin-left: 23%;
    height: 17em;
}
}
@media screen and (min-width: 65em){
main{
    background-image: url(../Fotos/irritatie-achtergrond.jpg);

}
     section{
    width: 55%;
    margin-left: 23%;
    height: 28em;
}
}

p{
     font-family: "IdiotStax";
    color: white;
    font-size: 1.6em;
}
section{
    overflow: scroll;

}
img{
width: 3em;
}

footer{
    background-color: #4fcd67;
        width: 100%;
    height: 10em;
    margin-top: 10em;
    display: flex;
}
